[submodule "src/content/LaTeX-tricks"]
	path = src/content/LaTeX-tricks
	url = https://github.com/lnay/LaTeX-tricks.git
[submodule "src/content/sagetex-blog"]
	path = src/content/sagetex-blog
	url = https://github.com/lnay/sagetex-blog.git
[submodule "src/content/case-for-prototype-paradigm-blog"]
	path = src/content/case-for-prototype-paradigm-blog
	url = https://github.com/lnay/case-for-prototype-paradigm-blog.git
