@use "../../node_modules/bootstrap/scss/bootstrap.scss";

main {
	a {
		color: var(--foreground-color-opaque);
		font-weight: bold;
		text-decoration: none;
		font-style: italic;
		&:hover{
			color: var(--foreground-color-opaque);
			text-decoration: underline;
		}
	}
	h1{
		text-align: center;
		border-bottom: 2px solid rgba(var(--foreground-accent-color), 0.7);
		clear: both;
	}
	h2{
		border-bottom: 1px dashed rgba(var(--foreground-accent-color), 0.7);
	}
	& > p {
		text-align: justify;
		justify-content: space-between;
	}
	* {
		font-style: normal;
	}
	code {
		font-size: 1.1em !important;
	}
}


@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
}
