main {
	a {
		font-weight: bold;
		text-decoration: none;
		&:hover{
			text-decoration: underline dotted 1px;
		}
	}
	p a {
		text-decoration: underline dotted 1px;
		font-style: italic;
		&:hover{
			text-decoration: underline 1px;
		}
	}
	h1{
		text-align: center;
		border-bottom: 2px solid blue;
		margin-bottom: .5rem;
		clear: both;
	}
	h2{
		border-bottom: 1px dashed blue, 0.7;
		margin-bottom: .5rem;
	}
	& > p {
		text-align: justify;
		justify-content: space-between;
	}
	* {
		font-style: normal;
	}
	code {
		font-size: 1.1em !important;
	}
}
